body {
    margin: 5% 30% 5% 30%;
    background-color: rgb(40, 223, 107);
}
form{
    padding: 30px 30px 30px 30px;
    background-color: white;
    display: grid;
    grid-template-columns: 300px;
}

#form-name, #form-email, #label-age{
    display: grid;
    grid-template-columns: 150px;
    grid-template-rows: 25px;
}

#form-options{
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 25px;
}


#form-radio{
    display: grid;
    grid-template-columns: 30px 100px;
    grid-template-rows: 20px;
}

#form-checkbox {
    display: grid;
    grid-template-columns: 50px 100px;
}